### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of organized data that can be accessed, managed, and updated easily. It is designed to facilitate the storage, retrieval, and management of data in a structured way. Databases are used to store and manage large amounts of data, making it easier to retrieve, manipulate, and analyze the information.

|      | SQL                | NoSQL                                    |
|------|--------------------|------------------------------------------|
| Data Model | Relational model based on tables with fixed schema | Various models including document, graph, and key-value with flexible schema |
| Scalability | Vertically scalable by upgrading hardware | Horizontally scalable by adding more nodes to cluster |
| Flexibility | Rigid schema, difficult to accommodate changes | Flexible schema, easily accommodate changes |
| Querying | SQL for querying and manipulating data | Various query languages such as JavaScript, JSON, and XML |
| Performance | Optimized for complex queries and handling large datasets | Optimized for high-speed, low-latency queries and handling massive amounts of unstructured data |
| ACID Compliance | Typically ACID-compliant, ensuring atomicity, consistency, isolation, and durability | May or may not be ACID-compliant depending on implementation |
| Use Cases | Well-suited for applications that require complex queries, data integrity, and transactions | Better suited for applications that require high scalability, availability, and flexibility in handling unstructured data |
| Cost | Often more expensive due to complex design and licensing fees | Often open source and free to use |
| Data Storage | Stores data in structured format optimized for querying | Can store data in various formats such as JSON, BSON, and XML |
| Security | Long history of security features and often preferred for high-security applications | May have less mature security features, but continuously improving |

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a subset of SQL used to create, modify, and delete the structure of database objects such as tables, indexes, and views. DDL statements are used to define the schema of a database and establish the relationships between tables. Here are some examples of DDL statements and their use cases:

CREATE: The CREATE statement is used to create new database objects such as tables, views, and indexes. For example, the following statement creates a new table called "employees" with columns for the employee ID, name, and department:

In [1]:
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    department VARCHAR(50)
);

SyntaxError: invalid syntax (Temp/ipykernel_5188/1236421565.py, line 1)

DROP: The DROP statement is used to delete existing database objects such as tables, views, and indexes. For example, the following statement drops the "employees" table:

In [ ]:
DROP TABLE employees;

ALTER: The ALTER statement is used to modify the structure of existing database objects such as tables and columns. For example, the following statement adds a new column called "email" to the "employees" table:

In [ ]:
ALTER TABLE employees ADD COLUMN email VARCHAR(50);

TRUNCATE: The TRUNCATE statement is used to delete all data from a table, but not the table structure itself. For example, the following statement deletes all data from the "employees" table:

In [ ]:
TRUNCATE TABLE employees;

In summary, DDL statements are used to create, modify, and delete the structure of database objects, and they are essential for defining the schema of a database and managing its objects.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL used to manipulate the data stored in database objects such as tables. DML statements are used to insert, update, and delete data from database tables. Here are some examples of DML statements and their use cases:

INSERT: The INSERT statement is used to add new rows to a table. For example, the following statement inserts a new row into the "employees" table:

In [ ]:
INSERT INTO employees (employee_id, name, department, email) 
VALUES (1, 'John Smith', 'Marketing', 'john.smith@example.com');

UPDATE: The UPDATE statement is used to modify the data in existing rows of a table. For example, the following statement updates the department of the employee with ID 1:

In [ ]:
UPDATE employees SET department = 'Sales' WHERE employee_id = 1;

DELETE: The DELETE statement is used to remove one or more rows from a table. For example, the following statement deletes the employee with ID 1 from the "employees" table:

In [ ]:
DELETE FROM employees WHERE employee_id = 1;

In summary, DML statements are used to manipulate the data stored in database tables, and they are essential for inserting new data, updating existing data, and deleting unwanted data.

### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from database objects such as tables. DQL statements are used to retrieve data that matches specific conditions and criteria. Here is an example of a DQL statement and its use case:

SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. For example, the following statement retrieves all data from the "employees" table:

In [ ]:
SELECT * FROM employees;

The asterisk (*) symbol is used to retrieve all columns from the table. Alternatively, you can specify which columns to retrieve by listing them after the SELECT keyword, separated by commas. For example, the following statement retrieves only the employee ID and name columns:

In [ ]:
SELECT employee_id, name FROM employees;

You can also use the WHERE clause to filter the results based on specific conditions. For example, the following statement retrieves only the employees who work in the Marketing department:

In [ ]:
SELECT * FROM employees WHERE department = 'Marketing';

You can also use aggregate functions such as SUM, AVG, MAX, MIN, and COUNT to perform calculations on the retrieved data. For example, the following statement retrieves the total number of employees in the "employees" table:

In summary, SELECT is a DQL statement used to retrieve data from one or more tables in a database, and it is essential for querying and analyzing data stored in databases.

### Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is a column or a set of columns in a table that uniquely identifies each row in the table. A primary key is used to enforce data integrity by ensuring that no two rows in the table have the same values for the primary key columns. Typically, the primary key is chosen from columns that have a unique value for each row, such as an ID column.

Foreign Key: A foreign key is a column or a set of columns in a table that refers to the primary key of another table. The foreign key establishes a relationship between the two tables, where the table with the foreign key is called the child table, and the table with the primary key is called the parent table. The foreign key ensures referential integrity by preventing child records from referencing non-existent parent records.

| Concept      | Primary Key                                                | Foreign Key                                                |
|--------------|------------------------------------------------------------|------------------------------------------------------------|
| Definition   | A column or set of columns that uniquely identifies a row. | A column or set of columns that refers to a primary key.   |
| Purpose      | To enforce data integrity by ensuring uniqueness.          | To establish relationships between tables.                 |
| Example      | CREATE TABLE employees (employee_id INT PRIMARY KEY, ...)  | CREATE TABLE orders (order_id INT, employee_id INT, FOREIGN KEY (employee_id) REFERENCES employees(employee_id), ...) |
| Table Usage  | Every table should have a primary key.                     | Only used in child tables that reference a parent table.   |
| Data Integrity | Primary key must be unique and not null.                   | Foreign key values must match a primary key or be null.    |

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Establishing a connection to the MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Creating a cursor object to execute SQL queries
mycursor = mydb.cursor()

# Executing a SELECT query using the execute() method
mycursor.execute("SELECT * FROM customers")

# Fetching the results using the fetchall() method
result = mycursor.fetchall()

# Printing the results
for row in result:
  print(row)

In the above code, we first import the mysql.connector library to establish a connection to the MySQL database. We then use the connect() method to establish a connection by passing in the necessary credentials such as the host, username, password, and database name.

Next, we create a cursor object using the cursor() method. The cursor is used to execute SQL queries and fetch the results.

We then execute a SELECT query using the execute() method and pass in the SQL statement as a parameter. The execute() method is used to execute SQL queries on the MySQL database.

Finally, we fetch the results using the fetchall() method and print them to the console.

In summary, the cursor() method is used to create a cursor object that can be used to execute SQL queries, and the execute() method is used to execute SQL queries on the MySQL database.

### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM: This clause specifies the table or tables from which to retrieve data.

JOIN: This clause is used to join two or more tables together based on a common column.

WHERE: This clause is used to filter the results based on a specified condition.

GROUP BY: This clause is used to group the results based on one or more columns.

HAVING: This clause is used to filter the results of a GROUP BY clause based on a specified condition.

SELECT: This clause is used to select the columns to retrieve from the specified table(s).

ORDER BY: This clause is used to sort the results based on one or more columns.

LIMIT: This clause is used to limit the number of results returned by the query.

It's important to note that not all SQL queries include all of these clauses and the order of execution may differ based on the query. However, this is the general order in which the clauses are executed.